header > h1 {
    overflow: visible;
}

.page-body {
    margin: 10px;
}

.ui-listview > li .unread-count {
    font-weight: bold;
}

.ui-listview > li .date-time-container {
    overflow: visible;
}

.ui-listview > li .date-time {
    position: relative;
    left: 30px;
}

.ui-listview > li .message {
    white-space: normal;
}

aside {
    font-style: italic;
}

.inline-button {
    float: right;
    position: relative;
    top: -3px;
}

.inline-input {
    width: 100%
}

.inline-input-container {
    padding-right: 40px;
}

.final-dialog-container {
    padding-bottom: 5px;
}

.inline-input-footer {
    margin-left: 5px;
    margin-right: 42px
}

.inline-button-footer {
    position: relative;
    bottom: -4px
}