/**
 * Common
 */

header > h1 {
    overflow: visible;
}

.page-body {
    margin: 10px;
}

section > .search-form {
    margin: 5px;
}

.ui-listview > li .date-time-container {
    overflow: visible;
}

.ui-listview > li .date-time {
    position: relative;
    left: 30px;
}

aside {
    font-style: italic;
}

.inline-button {
    float: right;
    position: relative;
    top: -3px;
}

.inline-input {
    width: 100%
}

.inline-input-container {
    padding-right: 40px;
}

.final-dialog-container {
    padding-bottom: 5px;
}

.inline-input-footer {
    margin-left: 5px;
    margin-right: 42px
}

.inline-button-footer {
    position: relative;
    bottom: -4px
}

/**
 * Conversations page
 */

.ui-listview > li .unread-count {
    font-weight: bold;
}

.ui-listview > li .back-icon-link {
    display: inline;
    position: relative;
    left: 5px;
}

.ui-listview > li .message-preview-text {
    position: relative;
    left: 17px;
    bottom: 1px;
}

/**
 * Conversation page
 */

.ui-listview > li .message-text {
    white-space: normal;
}

/**
 * About page
 */

.logo-container {
    display: inline-block;
}

.name-version-outer-container {
    display: inline-block;
    position: relative;
}

.name-version-inner-container {
    position: absolute;
    top: 50%;
    margin-left: 10px;
    margin-top: -57px;
    width: 100px;
}