language: android
dist: trusty
jdk:
  - openjdk8
android:
  components:
    - tools
    - platform-tools
    - tools

    - build-tools-25.0.2

    - android-25

    - extra-google-m2repository
    - extra-android-m2repository
