language: android
android:
  components:
  - tools
  - platform-tools
  - build-tools-30.0.2
  - android-30
before_install:
- openssl aes-256-cbc
  -K $encrypted_f761570c4ae9_key -iv $encrypted_f761570c4ae9_iv
  -in google-services.json.enc -out google-services.json -d
- yes | sdkmanager "platforms;android-30"
